# Environnement virtuel
venv/
__pycache__/
*.py[cod]
*$py.class

# Variables d'environnement
.env
.env.local

# Base de données locale
data/*.sqlite
data/*.db

# Build
*.egg-info/
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp
